certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
joblib==1.2.0
numpy==1.24.2
pandas==2.0.0
Pillow==9.5.0
pyproj==3.5.0
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
threadpoolctl==3.1.0
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
matplotlib==3.7.2